.circle_out {
	/*background-image: url(img/Enneagram_circle.gif);*/
	/*background-size: contain;*/
	
	padding:0;
	position:absolute;
	border-radius: 50%;
	behavior: url(PIE.htc);
	background: yellow;
	border: 2px solid red;
}

.circle_in{
	/*background-image: url(img/Enneagram_circle.gif);*/
	/*background-size: contain;*/
	position:absolute;
	border-radius: 50%;
	behavior: url(lib/PIE.htc);
	background: yellow;
	border: 2px solid red;
}
.wrapper {
	position:relative;

}

* {margin:0;padding:0}

.btn-text {
	padding:40% 0 0 0;
	margin:0;
	text-align:center;
}
